.authorization-container {
    max-width: 506px;
    width: 506px;
    max-height: 424px;
    height: 424px;
    display: flex;
    justify-content: center;
}

.input-contanier {
    display: flex;
    flex-direction: column;
    hight: 194px;
    border-radius: 10px;
    border: 1px solid #F4F5F6;
    background: #fff;
    box-shadow: 0px 10px 110px 1px rgba(59, 59, 59, 0.08);
}